<!DOCTYPE html>
<html>
  <head>
    <title>BloggingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <p class = "notice" ><%= notice %> </p>
  <p class = "alert" ><%= alert %></p>
  <body class="bg-gradient-to-r from-blue-100 via-blue-200 to-blue-300" style="background-image: url('<%= asset_path('blog_bg.jpg') %>')">
    <%= render 'layouts/navbar' %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>